@{
  Layout = "_Layout";
}

@using Box.Models;
@model List<Box.Models.MealType>;

<h3>Meal Types</h3>
@if (Model.Count == 0)
{
  <p>No Meal Types have been added yet.</p>
}
@foreach (MealType mealType in Model)
{
  <p>@Html.ActionLink($"{mealType.Name}", "Details", new { id = mealType.MealTypeId })
}
<hr />
<p>@Html.ActionLink("Add new Meal Type", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>