@{
  Layout = "_Layout";
}

@model Box.Models.Ingredient

<h3>Add a new ingredient</h3>

@using (Html.BeginForm())
{
  @Html.Label("Ingredient")
  @Html.TextBoxFor(model => Model.Name)

  @Html.Label("Quantity")
  @Html.TextBoxFor(model => Model.Quantity)

  <input type="submit" class="btn-primary">
}
